{% load static %}

<!DOCTYPE html>
<html lang="es">
    <!-- head -->
    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    {%block title%}<title></title>{%endblock%}
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>


<body>
    <!-- header -->
    {% block nav %}
    <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
                <a class="nav-link {% block active1 %}{% endblock %}" aria-current="page" href="{% url 'home' %}">Inicio</a>
            </li>
            </ul>
            {% if user.is_authenticated %}
            <h3 style="color:white">Bienvenido, {{ user.username }} - </h3>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Cerrar sesión</button>
            </form>
            {% else %}
                <h3><a style="color:red" class="nav-link" href="{% url 'login' %}">Iniciar sesion</a></h3>
            {% endif %}

        </div>
        </div>
    </nav>
    </header>
    {% endblock %}

    <!-- MAIN -->
    <main>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <!-- FOOTER -->
    {% block footer %}
    <footer class="container">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>&copy; 2017–2023 Compania, Inc. &middot; <a href="#">Privacidad</a> &middot; <a href="#">Terminos</a></p>
    </footer>
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
