{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2 class="display-3 fw-bolder mb-5">
        {% if user.is_authenticated %}
        <span class="text-gradient d-inline">
            <span>Bienvenido, {{ user.username }} </span>
        </span>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder">Cerrar sesión</button>
            </form>
            {% else %}
            <span class="text-gradient d-inline">
                <a href="{% url 'login' %}">Hola te invito a Iniciar sesion</a>
            </span>
            <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="{% url 'login' %}">Login</a>
{% endif %}
    </h2>
{% comment %} <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
    <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="{% url 'login' %}">Login</a>
    <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="{% url 'logout' %}">Logout</a>
</div> {% endcomment %}
{% endblock %}