
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-5">
            <div class="text-center text-lg-start">
                <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Login</h1>
                <div class="fs-3 fw-light text-muted">Ingresa usuario y contrase</div>
                <h2 class="col-lg-10 fs-4">Ingresa usuario y contraseña</h2>
                <img src="img/logo-js.png" width="200"alt="Logo" class="logo">
            </div>
        </div>
        <div class="col-md-10 mx-auto col-lg-7">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Iniciar sesión</button>
            </form>
        </div>
        {% if user.is_authenticated %}
            <h3 style="color:red">Bienvenido, {{ user.username }} </h3>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Cerrar sesión</button>
            </form>
            {% else %}
                <h3><a style="color:red" class="nav-link" href="{% url 'login' %}">Iniciar sesion</a></h3>
            {% endif %}
    </div>
</div>
{% endblock %}

